<!-- Section: Contact-->
<div class="section  section--contact">
    <div class="section-content-wrap">

        <div class="row">
            <div class="col  col--35">
                {{widget('content', 'contact-text1', { content:'
                    <h5>Contact Us</h5>
                    <p class="p-sml">Whether you’re interested in becoming one of our clients, in joining our network of industry experts or in one of our client’s products – please reach out!</p>
                    <p><b>Tel:</b> (020) 12 345 678</p>
                    <p><b>Email:</b> <a href="mailto:info@fdm.global" class="">info@fdm.global</a></p>
                '})|raw}}
            </div>
            <div class="col  col--65">
                {{widget('contactform', 'contact-form', {
                    'text': 'Submit Enquiry',
                    'formTitle': 'Contact Us',
                    'email': 'profile'
                })|raw}}
            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<footer class="template-footer">
	<div class="container">
		<div class="row">

	        <div class="col  col--third">
				{{widget('content', 'footer-text1', { content:'
	                <h4>Info@fdm.global</h4>
	            '})|raw}}
			</div>
			<div class="col  col--third">
				<a href="/" class="logo-link">
					<img src="{{asset('/images/logo--dark.png')}}" alt="FDM Logo">
				</a>
			</div>
			<div class="col  col--third">
				{{widget('content', 'footer-text2', { content:'
	                <h4>Copyright 2015 © FDM</h4>
	            '})|raw}}
			</div>

		</div>
	</div>
</footer>
